body {
    background-color: #93867F;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* CARD CLASS */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.5s;
    background-color: #5E5D5C;
}

.card:hover {
    box-shadow: 0 1px 2px 0 rgba(59, 59, 59, 0.2), 0 3px 10px 0 rgba(63, 63, 63, 0.19);  
}

/* HEADER */
#header-wrapper {
    opacity: 0;
    display: block;
    width: 70%;
    height: 250px;
    margin: 15px auto;
    padding: 10px;
}

#header-img {
    height: 100%;
    width: 24%;
    border-radius: 10px;
}

#header-text-wrapper {
    display: inline-block;
    height: 100%;
    width: 74.5%;
    vertical-align: top;
    text-align: center;
    font-size: 22px;
    margin-left: 10px;
}

#header-text-wrapper h1 {
    font-size: 50px;
}

#header-text-wrapper h2 {
    display: block;
    margin-top: 60px;
    font-size: 30px;
}

/* WRAPPER FOR PERSONAL CONTENT */
#personal-content-wrapper {
    /*background-color: red;*/
    display: block;
    margin-top: 20px;
    width: 71.25%;
    margin-left: auto;
    margin-right: auto;
}

/* BIO */
#bio-wrapper {
    opacity: 0;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: 400px;
}

#bio-wrapper p {
    margin: 20px;
    font-size: 20px;
    line-height: 25px;
}

/* TECHNICAL SKILLS */
#technical-skills-wrapper {
    opacity: 0;
    display: inline-block;
    width: 37.85%;
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: top;
}

#technical-skills-wrapper h1 {
    margin: 30px;
    font-size: 28px;
}

#technical-skills-wrapper table {
    table-layout: fixed;
    margin-left: 30px;
    margin-right: 40px;
    width: 100%;
    line-height: 40px;
    font-size: 16px;
}

#technical-skills-wrapper table td {
    font-weight: bold;
}

/* SPOTIFY */
#spotify-player-wrapper {
    opacity: 0;
    width: 320px;
    height: 400px;
    display: inline-block;
}

#spotify-player {
    position: absolute;
    display: block;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 10px;
}
